<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Touch Joystick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/watchdog.js') }}"></script>
</head>
<body>
    <div class="banner" id="topBanner"style="top: 0; display: inline-block; vertical-align: middle;">
        <p style="display: inline;">&emsp; Zoom: <span id="currentZoom">1.00</span></p>
        <p style="display: inline;">&emsp; Vbat: <span id="vBat">12.00 V</span></p>
        <p style="display: inline;">&emsp; Ibat: <span id="iBat">1.00 A</span></p>
        <p style="display: inline;">&emsp; Vsol: <span id="vSol">18.00 V</span></p>
        <p style="display: inline;">&emsp; Isol: <span id="iSol">0.50 A</span></p>
        <img id="connectionStatusIcon" src="/static/images/no-wifi.png" style="display: none; float: right; height: 100%;">
    </div>
    <div class="banner" id="bottomBanner"style="bottom: 0;"></div>
    
    <div class="widget" id="leftWidget" style="left: 0;">
        <button id="zoomInButton" class="zoom-button" style="left: 0">Zoom in</button>
        <button id="zoomOutButton" class="zoom-button"style="right: 0">Zoom out</button>
        <script src="{{ url_for('static', filename='js/button.js') }}"></script>
    </div>

    <div class="widget" id="rightWidget"style="right: 0;">
        <div class="joystick-area" id="joystickArea">
            <div class="joystick" id="joystick"></div>
        </div>
        <script src="{{ url_for('static', filename='js/joystick.js') }}"></script>
    </div>

    <div class="video-widget" id="videoWidget">
	    <img src="{{ url_for('video_feed') }}" alt="Video stream" style='height: 100%; width: 100%; object-fit: contain'>
    </div>
</body>
</html>
