<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Touch Joystick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="right-widget" id="rightWidget">

        </div>
    <div class="joystick-area" id="joystickArea">
        <div class="joystick" id="joystick"></div>     
    <script src="{{ url_for('static', filename='joystick.js') }}"></script>
    </div>
    <div class="top-banner" id="topBanner"></div>
    <div class="bottom-banner" id="bottomBanner"></div>
    <div class="left-widget" id="leftWidget"></div>
    <div class="video-widget" id="videoWidget"></div>
</body>
</html>
