<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Touch Joystick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="joystick-area" id="joystickArea">
        <div class="joystick" id="joystick"></div>
    </div>

    <div class="banner" id="topBanner"style="top: 0;"></div>
    <div class="banner" id="bottomBanner"style="bottom: 0;"></div>
    <div class="widget" id="leftWidget" style="left: 0;">
        <button id="zoomInButton">Zoom in</button>
        <button id="zoomOutButton">Zoom out</button>
        <p>Current zoom: <span id="currentZoom">0</span></p>
    </div>
    <script src="{{ url_for('static', filename='js/button.js') }}"></script>

    <div class="widget" id="rightWidget"style="right: 0;">
        <div id="joystickValue" style="z-index: 99;">  x: 0, y: 0</div>
        <script src="{{ url_for('static', filename='js/joystick.js') }}"></script>
    </div>

    <div class="video-widget" id="videoWidget">
	<img src="{{ url_for('video_feed') }}" alt="Video stream" style='height: 100%; width: 100%; object-fit: contain'>
    </div>
</body>
</html>
